.scroll-float {
  overflow: hidden;
  text-align: center;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.2rem, 4vw, 4rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}
